:root{
    --main-color:#FBC40E;
    --second-color:#343f71;
    --third-color:#e9d8e4;
    --fourth-color:#f34c19;
}
*{
    box-sizing: border-box;
}
.text-main-color{
    color:var(--main-color) !important;
}
.text-second-color{
    color:var(--second-color) !important;
}
.text-third-color{
    color:var(--third-color) !important;
}
.text-fourth{
    color:var(--fourth-color) !important;
}
.bg-main-color{
    background-color: var(--main-color) !important;
}
.bg-second-color{
    background-color: var(--second-color) !important;
}
.bg-third-color{
    background-color: var(--third-color) !important;
}
.bg-fourth-color{
    background-color: var(--fourth-color) !important;
}
/* header start */
.search-input{
    position:relative;
}
.search-icon{
    position:absolute;
    top:50%;
    right:2px;
    transform: translateY(-50%);
    font-size:1.5rem;
    color:var(--main-color);
}
.user-sign-in {
    position:relative;
}
.user-sign-in #user-info{
    position:absolute;
    z-index:1000;
    width:100%;

}
#result-search{
    position:absolute;
    background-color: white;
    top:100%;
    left:0;
    width:100%;
    padding:.5rem;
    border-radius:.5rem;
    z-index:1000;
    display:none;
}
#result-search a{
    display:block;
}
/* header end */
/* homepage start */
.card{
    position:relative;
}
.card .price{
    position:absolute;
    top:2px;
    left:2px;
    background-color: rgb(227, 222, 222);
    padding:.2rem;
    width:60px;
    font-weight: bold;
    text-align: center;
    border-radius:.5rem;
}
/* homepage end */
/* Start login */
.register-go , .login-go{
    cursor:pointer;
}
/* End login */
/* Start items page */
.comment-lines{
    border:1px solid var(--main-color);
}
/* End items page */
/* Start profile */
.approve{
    position:absolute;
    top:0;
    right:0;
}
/* End profile */
/* start items */
.img-item{
    position:relative;
}
.img-item .close{
    position:absolute;
    top:2px;
    right:2px;
    cursor:pointer;
}
.show-images-img{
    position: relative;
    overflow: hidden;
}
.show-images-img .btn-more-images{
    position:absolute;
    bottom:-3rem;
    left:50%;
    transform: translateX(-50%);
    transition: .5s;
}
.show-images-img:hover .btn-more-images{
    bottom:0;
}
/* end items */