:root{
    --main-color:#FBC40E;
    --second-color:#343f71;
    --third-color:#e9d8e4;
    --fourth-color:#f34c19;
}
*{
    box-sizing: border-box;
}
.text-main-color{
    color:var(--main-color) !important;
}
.text-second-color{
    color:var(--second-color) !important;
}
.text-third-color{
    color:var(--third-color) !important;
}
.text-fourth{
    color:var(--fourth-color) !important;
}
.bg-main-color{
    background-color: var(--main-color) !important;
}
.bg-second-color{
    background-color: var(--second-color) !important;
}
.bg-third-color{
    background-color: var(--third-color) !important;
}
.bg-fourth-color{
    background-color: var(--fourth-color) !important;
}

/* start header */
header .sous-menu{
    position:relative;
}
header .sous-menu-name{
    cursor:pointer;
}
header .links{
    display:none;
    position:absolute;
    top:calc(100% + .75rem);
    width:100%;
}
/* end header */
/* start dashboard */
.toggle-latest{
    cursor:pointer;
}
/* end dashboard */
/* start categories */
.categories .categories-header .view-mode{
    cursor:pointer;
}
.categories .categories-header .view-mode.active{
    color:var(--main-color);
    font-weight:bold
}
.categories .category-content{
    position:relative;
    overflow: hidden;
    transition: .5s;
}
.category-title{
    cursor:pointer;
}
.categories .category:not(:last-of-type){
    border-bottom:2px dashed var(--main-color);
}
.categories .category-content:hover{
    background-color: var(--second-color);
    color:white;
}
.categories .category-content .category-btn{
    position:absolute;
    right:-9rem;
    top:1rem;
}
.categories .category-content:hover .category-btn{
    animation:right-to-left .5s forwards;
}
@keyframes right-to-left{
    from{
        right:-9rem;
    }
    to{
        right:1rem;
    }
}
/* end categories */
